{% extends "stocks/layout.html" %}
{% load static %}
{% load mathfilters %}

{% block body %}
    <!-- ! top 4 columns, summary -->
    <div id="summary-row-top" class="summary-row">
        <div id="invested-main">
            <div class="sum-text"> Invested: </div> 
            <div class="sum-value"></div>
        </div>
        <div id="present-main">
            <div class="sum-text around">
                <div>Now</div>  <div>/</div> <div>Change:</div>
            </div>
            <div id="nowChange" class="around">
                <div id="nowChangeDol" class=sum-value></div>
                <div id="nowChangePer" class="sum-value"></div>
            </div>
        </div>
        <div id="profit-main">
            <div class="sum-text around">
                <div>Earnings</div>  <div>/</div> <div>Profit:</div>
            </div> 
            <div class="around">
                <div id="earnings" class=sum-value>{{ profit|floatformat:"0" }}</div>
                <div id="profit" class="sum-value"></div>
            </div>
        </div>
        <div id="day-main">
            <div class="sum-text">Day change:</div>
            <div id="dayChange" class="around">
                <div id="dayChangeDol" class=sum-value></div>
                <div id="dayChangePer" class="sum-value"></div>
            </div>
        </div>
    </div>



<!-- ! portfolio  view -->
<div id="portfolio-view">
    {% if user.is_authenticated %}
        {% if not portfolio.exists %}
            <div class="intro-text">1) Search for a company using it's name or ticker</div>
        {% endif %}
    {% endif %}
    <!-- ? search + company info + buy/sell -->
    <div class="top-row">
        <form id="searchForm">
            <!-- {% csrf_token %} -->
            <!-- <div class="type-field">{{ search_form }}</div> -->
            <input type="text" class="type-field ticker-inp" id="searchForComp" placeholder="Company">
            <input class="search-btn" id="main-view-search" type="submit" value="Search">
        </form>

        <div class="ticker-search-container">
            <ul class="ticker-search-box">
                <div><strong style="color: whitesmoke">Company: </strong><span id="search-display-name"></span></div>
                <div><strong>PE: </strong><span id="search-display-PE"></span></div>
            </ul>
            <div class="loader hidden"></div>
            <div class="messenger hidden"></div>
            <ul class="ticker-search-box">
                <div><strong>Price: </strong><span id="search-display-price"></span></div>
                <div><strong>Av-Price 200: </strong><span id="search-display-avPr200"></span></div>
                <input id="hidden-ticker" type="hidden" name="hidden-ticker">
            </ul>
        </div>
        

        {% if user.is_authenticated %}
            <div id="action-buttons">
            <form action="{% url 'indexPost' %}" method="post">
                {% csrf_token %}
                <div class="type-field">{{ buyForm }}</div>
                <div class="flex-container">
                    <input class="buy-btn" type="submit" name="buy_btn" value="Buy">
                    <input class="sell-btn" type="submit" name="sell_btn" value="Sell">
                </div>
                <input id="hidden-ticker" type="hidden" name="hidden-ticker" value="{{ compData.ticker }}">
            </form>
            </div>
         {% endif %}

    </div>

    {% if not user.is_authenticated %}
    <div class="intro-text"><span style="color:whitesmoke">Logged in users can: &nbsp </span> 1) Add stocks to their portfolio <br> 
        2) See stock prices changes in real time <br>
        3) Keep track of their investments history and profits <br>
        4) Add dividends </div>
    {% else %}
        {% if not portfolio.exists %}
        <div class="intro-text">2) Enter amount and price payed for the stock. Then push "Buy" </div>
        {% endif %}
    {% endif %}

    <!-- ? main portfolio table -->
    <table id="mainTable">
        <thead>
            <tr>
                <th class="mobile-hide">Market</th>
                <th class="mobile-hide">Ticker</th>
                <th class="sortDay Up">Company</th>
                <th>MyPrice, $</th>
                <th>Quantity</th>
                <th class="prices-btn">Price, $</th>
                <th class="three-dots"><div class="pulsating-dots">
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                  </div></th>
                <th class="sortSigma Up">&#931, $</th>
                <th class="sortChange Up">Change, %</th>
            </tr>
        </thead>
        <tbody>

            {% for item in portfolio reversed%}
                {% for price in prices %}
                    {% if price.stock == item%}
            <tr class="table-row">
                <td class="mobile-hide" id="company-market">{{item.market}}</td>
                <td class="mobile-hide" id="company-ticker">{{item.ticker}}</td>
                {% if item.day < 0 %}
                    <td>{{item.company}} <br> <div id="day-one" class="red-text">{{item.day|stringformat:".2f"}} %</div></td>
                {% elif item.day == None %}
                    <td>{{item.company}} <br> <div id="day-one"></div></td>
                {% else %}
                    <td>{{item.company}} <br> <div id="day-one" class="green-text">{{item.day|stringformat:".2f"}} %</div></td>
                {% endif %}

                {% if price.myPrice < 0.01 %}
                <td class="my-price-row">{{price.myPrice|stringformat:".2e"}}</td>
                {% else %}
                <td class="my-price-row">{{price.myPrice|stringformat:".2f"}}</td>
                {% endif %}

                <td class="quantity-row">{{price.quant}}</td>
                
                {% if item.price < 0.01 %}
                <td class="market-price">{{item.price|stringformat:".2e"}}</td>
                {% else %}
                <td class="market-price">{{item.price|stringformat:".2f"}}</td>
                {% endif %}

                <td class="sigma-row">{{price.quant|mul:item.price|stringformat:".2f"}}</td>
                {% if item.price|div:price.myPrice|mul:100|sub:100 < 0 %}
                    <td id="change-field" class="red-text">{{ item.price|div:price.myPrice|mul:100|sub:100|stringformat:".2f"}} %</td>
                {% else %}
                    <td id="change-field" class="green-text">{{ item.price|div:price.myPrice|mul:100|sub:100|stringformat:".2f"}} %</td>
                {% endif %}
            </tr>
            {% endif %}
            {% endfor %}
            {% endfor %}
        </tbody>
    </table>

{% if user.is_authenticated %}
    {% if not portfolio.exists %}
    <div class="intro-text">3) Watch the stock's dynamics in the table  </div>
    {% endif %}
    </div>
{% endif %}
</div>

<!-- ! Company view -->
<div id="company-view" style="display:none;">
        <div class="title-bar">
            <button class="search-btn companies-btn">Random</button>
            <div>
                <h1 id="company-title"></h1>
                <div class='comp-param-text' style='text-align:center;' id="comp-ticker"></div>
            </div>
            <div>
                <input class="search-btn comp-search-btn" type="submit" value="Search">
                <input class="ticker-inp", placeholder="Company", id="comp-search">
            </div>
        </div>
        <div class="comp-text" id="company-desc" class="comp-desc"></div>

        <div class="company-price-row">
            <div id="company-price">
                <div>
                    <div class="comp-param-text" style="padding-left:10px; margin-top: 10px"> Price: </div> 
                    <div class="comp-param-value-big" style="margin-left: 1vw;">
                        <div id="res-comp-price"></div> 
                        <div id="res-comp-day"></div>
                    </div>
                </div>
                {% if user.is_authenticated %}
                    <button class="big-green-btn">Buy</button>
                {% endif %}
            </div>
            <div id="company-targetPrice">
                <div class="comp-param-text"> Average price 200: </div> 
                <div class="comp-param-value-big">
                    <div id="comp-target-dol"></div>
                    <div id="comp-target-per" class='med-text'></div>
                </div>
            </div>
            <div>
                <div class="comp-param-text"> Recommendation: </div> 
                <div class="comp-param-value-big" id="company-recom"></div>
            </div>
        </div>

        <div id="hidden-buy-form" style="display:none">
            <form action="{% url 'indexPost' %}" method="post">
                {% csrf_token %}
                <div class="flex-container">
                    <input class="buy-btn" type="submit" name="buy_btn" value="Buy" style="height:38px; margin-right:-10px;">
                    <div class="type-field">{{ buyForm }}</div>
                </div>
                <input id="hidden-ticker-comp" type="hidden" name="hidden-ticker">
            </form>
        </div>

        <div class="summary-row">
            <div>
                <div class="comp-param-text">PE:</div> 
                <div id="company-pe" class="comp-param-value"></div>
            </div>
            <div>
                <div class="comp-param-text">EPS:</div> 
                <div id="company-fpe" class="comp-param-value"></div>
            </div>
            <div>
                <div class="comp-param-text">PB:</div> 
                <div id="company-pb" class="comp-param-value"></div>
            </div>
            <div>
                <div class="comp-param-text">ROE:</div> 
                <div id="company-roe" class="comp-param-value"></div>
            </div>
        </div>
        <div class="summary-row">
            <div>
                <div class="comp-param-text">Debt to Equity:</div> 
                <div id="company-debt" class="comp-param-value"></div>
            </div>
            <div>
                <div class="comp-param-text">Profit Margins:</div> 
                <div id="company-profitMargins" class="comp-param-value"></div>
            </div>
            <div>
                <div class="comp-param-text">Dividends:</div> 
                <div id="company-dividends" class="comp-param-value"></div>
            </div>
            <div>
                <div class="comp-param-text">Dividend yield:</div> 
                <div id="company-dividends-yield" class="comp-param-value"></div>
            </div>
        </div>
        <div class="big-loader hidden"></div>
</div>

{% if user.is_authenticated %}
<!-- ! History view -->
<div id="history-view" style="display:none;">
    <div class="title-bar">
        <h1>History</h1>
            <form id="Div-form">
                <div style="display:flex">
                    <div class="type-field">
                        <input class="div-btn" type="submit" value="Dividend">
                        <input id="Div-title" class="ticker-inp long" placeholder="Title" required>
                        <input id="Div-amount" class="ticker-inp" class="ticker-buy" placeholder="$" type='number' min='0.01' step='0.01' required>
                    </div>
                </div>
            </form>
    </div>

    <table id="historyId">
        <thead>
            <tr>
                <th class="mobile-hide">Ticker</th>
                <th>Company</th>
                <th class="mobile-hide">Action</th>
                <th>Quantity</th>
                <th>Buy Price, $</th>
                <th>My Price, $</th>
                <th>Sell Price, $</th>
                <th>Profit, $</th>
            </tr>
        </thead>
        <tbody id="HistTable">
            {% for item in history reversed%}
            <tr class="hist-row" id="rest" style="background-color: rgba(114, 115, 115, 0.3)">
                <td class="mobile-hide" id="hist-company-name">{{item.stock.ticker}}</td>
                {% if item.action == 'Div' %}
                <td class="div-title">{{item.note}}</td>
                <td id="change-title-cell">
                    <div class="flex-container">
                        <input class='ticker-inp long' type="text" id="change-title" value="{{item.note}}">
                        <input id="div-title-change-btn" class="div-btn" type="submit" value="Change">
                        <input id="hidden-hist-id" type="hidden" value="{{item.id}}">
                    </div>
                </td>
                {% else %}
                <td>{{item.stock.company}}</td>
                {% endif %}
                <td class="hist-action mobile-hide">{{item.action}}</td>
                <td class="hist-amount">{{item.ammount}}</td>
                <td class="hist-buy">{{item.BPrice}}</td>
                <td class="hist-price">{{item.MyPriceHist|stringformat:".2f"}}</td>
                <td class="hist-sell">{{item.SPrice}}</td>
                {% if item.action == "Sell" %}
                    {% if item.SPrice|sub:item.MyPriceHist|mul:item.ammount >= 0 %}
                <td id="hist-profit" class="green-text">{{ item.SPrice|sub:item.MyPriceHist|mul:item.ammount|stringformat:".2f" }}</td>
                    {% else %}
                <td id="hist-profit" class="red-text">{{ item.SPrice|sub:item.MyPriceHist|mul:item.ammount|stringformat:".2f" }}</td>
                    {% endif %}
                {% else %}
                <td id="hist-profit">-</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endif %}

<dialog id="modal-messenger">
    <div id="modal-message"></div>
</dialog>

{% if message == 'You have 20 minutes!' %}
<script> localStorage.setItem("countdown", 1200); </script>
{% endif %}
{% if message == 'Logged out' %}
<script> Timer('stop'); </script>
{% endif %}
{% if message %}
<div id='message' class="hidden">{{message}}</div>
{% endif %}

{% endblock %}