@import url(https://fonts.googleapis.com/css?family=Raleway:400,700,900,400italic,700italic,900italic);
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
nav, .title-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 98vw;
}
strong {
    color: whitesmoke;
}
html {
    display: flex;
    flex-direction: column;
    background-image: url("coffee2.jpg");
    background-size: cover;
    padding: 10px;
    height: 100vh;
    width: 100vw;
}
a {
    text-decoration: none;
    color: black;
    padding: 0 7px 0 7px;
    font-size: 20px;
    color: whitesmoke;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.left-group {
    margin-right: 20px;
    margin-bottom: 8px;
}

.red-text {
    color: rgb(250, 147, 36);
    font-size: 17px;
}
.green-text {
    color:rgba(78, 235, 0, 0.908);
    font-size: 17px;
}

h1 {
    /* font-family: 'Dancing Script', cursive; */
    font-family: 'Tangerine', cursive;
    font-size: 8vh;
    font-weight: 600;
    margin: 0px;
    color: bisque;
}
.brand {
    font-size: 35px;
    font-family: 'Tangerine', cursive;
    color: whitesmoke;
    font-size: 6vh;
}
.brand:hover {
    animation: flicker 1s infinite alternate;
}
@keyframes flicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
      text-shadow:
        0 0 3px #fff,
        0 0 8px #fff,
        0 0 13px #fff,
        0 0 30px #0fa,
        0 0 50px #0fa,
        0 0 80px #0fa,
        0 0 100px #0fa
    }
    20%, 24%, 55% {       
      text-shadow: none;
    }
  }
#title {
    font-size: 45px;
    font-family: 'Dancing Script', cursive;
    padding-bottom: 15px;
    text-align: center;
    color: whitesmoke;
}
#company-title {
    color: blanchedalmond;
}

/* views */
#portfolio-view {
    width: 100vw;
}
#mainTable, #historyId {
    width: 98vw;
}


/* Summary row */
.summary-row, .company-price-row {
    display: flex;
    justify-content: center;
    width: 98vw;
    gap: 1vw;
    margin-bottom: 15px;
    margin-top: 7px;
}
.summary-row > *, .comp-text, .company-price-row > * {
    flex-basis: 100%;
    color: whitesmoke;
    background-color: rgba(114, 115, 115, 0.3);
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px;
}
#company-price {
    padding: 0;
    display: flex;
    justify-content: space-between;
}
.sum-text {
    font-size: 20px;
}
.med-text {
    font-size: 30px;
}
.sum-value, .comp-param-value {
    font-size: 25px;
    padding: 15px 0 10px 0;
}
.comp-text {
    font-size: 18px;
    margin: 10px 0 10px 0;
    width: 96.5vw;
}
.comp-param-text {
    font-size: 20px;
}
.comp-param-value {
    color: bisque;
}
.comp-param-value-big {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 50px;
    color: bisque;
    align-items: center;
    justify-content: center;
}

.top-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    color: whitesmoke;
    margin: 20px 0 10px 0;
    /* display: none; */
}


/* ? search for company*/
.ticker-search-container, .ticker-link {
    position: relative;
    background-color: rgba(114, 115, 115, 0.3);
    border: 1px solid gray;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.ticker-link:hover, #company-desc:hover {
    background-color: rgba(255, 246, 196, 0.31);
    box-shadow: 0 0 5px #a1b1c3;
    cursor: pointer;
}
.ticker-search-box {
    display: flex;
    flex-direction: column;
    padding: 5px 10px 5px 10px;
}
.ticker-search-box > * {
    min-width: 15vw;
    max-width: 30vw;
    padding: 5px 0 5px 0;
    font-size: 22px;
    color: bisque;
}

.ticker-inp, .ticker-buy {
    width: 10vw;
    font-size: 20px;
    font-weight: 400;
    font-family: Didot, serif;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
    background-color: rgba(114, 115, 115, 0.3);
    color: whitesmoke;
    text-align: center;   
}
.ticker-inp:focus, .ticker-buy:focus {
    outline: none !important;
    border: 1px solid bisque;
    box-shadow: 0 0 4px #719ECE;
}
.long {
    width: 200px;
}
.login {
    margin: 5px 0 5px 0;
    font-size: 25px;
    width: 20vw;
}
.type-field {
    display: flex;
    justify-content: center;
    gap: 1vw;
    margin-bottom: 5px;
}
.search-btn, .buy-btn, .sell-btn, .div-btn, .login-btn {
    background-color: bisque;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    font-family: Didot, serif;
    padding: 5px;
}
.buy-btn, .sell-btn {
    width: 80px;
}
.login-btn {
    width: 120px;
    padding: 5px 10px;
}
.div-btn {
    background-color: rgba(105, 18, 120, 0.0);
    color: bisque;
    padding: 5px 20px;
}
.hist-row:hover {
    box-shadow: 0 0 15px #fcde30e9;
}
.div-title:hover {
    color: black;
    background-color: rgba(240, 194, 27, 0.536);
}
.big-green-btn {
    background-color: bisque;
    border: 1px solid gray;
    border-radius: 10px;
    font-size: 30px;
    font-weight: 600;
    font-family: Didot, serif;
    padding: 35px 18px 35px 18px;
    /* margin-left: 3vw; */
    /* height: 65px; */
}
.div-btn:hover {
    background-color: rgba(70, 3, 81, 0.718);
    cursor: pointer;
}
.search-btn:hover, .login-btn:hover, .prices-btn:hover {
    background-color: rgba(240, 194, 27, 0.718);
    box-shadow: 0 0 5px #a1b1c3;
    cursor: pointer;
}
.buy-btn:hover, .big-green-btn:hover {
    background-color: rgba(32, 75, 162, 0.718);
    box-shadow: 0 0 5px #a1b1c3;
    color: whitesmoke;
    cursor: pointer;
}
.sell-btn:hover {
    background-color: rgba(203, 23, 3, 0.718);
    box-shadow: 0 0 5px #a1b1c3;
    color:whitesmoke;
    cursor: pointer;
}
.flex-container {
    display: flex;
    justify-content: center;
    gap: 14px;
}
.flex-container-rows {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* ? company view */
.comp-desc {
    color: whitesmoke;
    font-size: 13px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 5px;
}
li {
    text-align:justify;
    margin-bottom: 5px;
    width: 50%;
    float: left;
}

table th, table td {
    padding: 0.75rem;
    vertical-align: middle;
    color: whitesmoke;
    font-family: Didot, serif;
    text-align: center;
    font-size: 19px;
}
div {
    font-family: Didot, serif;
}
tbody tr:nth-of-type(odd) {
    background-color: rgba(248, 212, 168, 0.209);

}
tbody tr:nth-of-type(even) {
    background-color: rgba(114, 115, 115, 0.3);
}

tbody tr:hover {
    background-color: rgba(240, 194, 27, 0.3);
    cursor: pointer;
}

/* * sorting */
.Up, .Down {
    text-decoration: underline;
}
.Up:hover, .Down:hover {
    cursor: pointer;
}

@keyframes created {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.hist-row {
    font-size: 18px;
}
.new-hist-row, #hidden-buy-form {
    animation-name: created;
    animation-duration:  2s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}
table {
    margin-bottom: 3vh;
}

@keyframes disappear {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.message-buy, .message-sell, .message-tell {
    animation-name: disappear;
    animation-duration:  2s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
    width: 120px;
    font-size: 25px;
    font-weight: 400;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px 150px 5px 150px;
    color: whitesmoke;
    text-align: center;
    margin-left: 6vw;
}
.message-buy {
    background-color: rgba(2, 240, 22, 0.165);
}
.message-sell {
    background-color: rgba(255, 104, 3, 0.289);
}
.message-tell {
    background-color: rgba(240, 194, 27, 0.3);
}

.intro-text {
    display: flex;
    justify-content: center;
    width: 98vw;
    font-size: 25px;
    font-weight: 400;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px 0 10px 0;
    background-color: rgba(232, 232, 232, 0.3);
    color: bisque;
    margin: 20px 0 20px 0;
}
.register-text {
    color:whitesmoke;
    font-size: 20px;
    margin-top: 25px;
}

@keyframes aparecer{
    0% {
        margin-left: -250px;
        opacity: 0;
    }
    60%{
        opacity: 0;
    }
    100% {
        margin-left: 0px;
        opacity: 1;
    }
}
#action-buttons {
    animation-name: aparecer;
    animation-duration:  1.5s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}

.loader, .big-loader {
    border: 10px solid #cbcbcb52; /* Light grey */
    border-top: 10px solid bisque; /* Blue */
    border-radius: 80%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    position: absolute;
    left: 44%;
  }
  .big-loader {
    border: 13px solid #cbcbcb52; /* Light grey */
    border-top: 13px solid bisque; /* Blue */
    width: 110px;
    height: 110px;
    top: 40%;
    left: 43%;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
  }

.hidden {
    display: none;
  }
  #change-title-cell {
    display: none;
    padding: 5px;
  }

.prices-btn, .market-price {
    width: 7vw;
    color: rgb(195, 188, 1);
  }
.prices-btn{
    /* content: 'Price, $'; */
    border: 2px solid rgb(248, 218, 23);
    border-radius: 5px;
    padding: 7px 13px 7px 13px;
  }
.prices-btn:hover{
    /* content: 'Update'; */
    color: black;
}

 .animate {
    animation: shimmer 1s infinite alternate;
}
@keyframes shimmer {
    1%, 18%, 22%, 25%, 53%, 57%, 99% {
      text-shadow:
        0 0 3px #fff,
        0 0 13px #fff,
        0 0 30px rgba(255, 247, 0, 0.862),
        0 0 50px rgb(193, 207, 0)
    }
    0%, 20%, 24%, 55%, 100% {       
      text-shadow: none;
    }
  }

  /* flashing dots */
  .three-dots {
    display: none;
    justify-content: center;

  }
  .pulsating-dots {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(248, 218, 23);
    margin: 0 5px;
    animation: pulse 1.5s ease-in-out infinite;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.3);
      opacity: 0.6;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  @media screen and (max-width: 800px) {
    body {
        margin: 0;
        width: 98vw;
    }
    .navbar {
        width: 98vw;
        margin: 0;
    }
    .body {
        margin: 0;
        width: 98vw;
    }
    .mobile-hide {
        display: none;
    }
    .summary-row {
        flex-wrap: wrap;
    }
    .summary-row > * {
        flex-basis: 42vw;
    }
    .ticker-search-box > * {
        font-size: 2vw;
    }
    .search-btn, .buy-btn, .sell-btn, .ticker-inp, .ticker-buy {
        font-size: 2vw;
    }
    .ticker-inp {
        min-width: 10vw;
    }
  }